*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}
.wrapper{
    width: 1060px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 545px;
}
.hedder-navi-strip{
    display: block;
    width: 100%;
    height: 40px;
    background-color: black;

}
.hedder-navi{
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
.hedder-navi span{
    color: #22B89F;
    font-weight: 900;
}
.hedder-navi p:hover{
    color: #22B89F;
    cursor: pointer;
}
.hedder-navi ul{
    display: flex;
    list-style-type: none;
}
.hedder-navi ul li{
    margin-left: 45px;
}
.hedder-navi ul li:last-child{
    margin-left: 45px;
    margin-right: 10px;
}
.hedder-navi ul li:hover{
    color: #22B89F;
    cursor: pointer;
}
/*HEDEAR MAINCONTAINER////////////////////////*/

.hedder-background-container{
    display:block;
    width: 100%;
    height: 505px;
    background-color: background: rgba(252,252,252,1);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 52%, rgba(227,227,227,1) 78%, rgba(217,217,217,1) 88%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(52%, rgba(252,252,252,1)), color-stop(78%, rgba(227,227,227,1)), color-stop(88%, rgba(217,217,217,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 52%, rgba(227,227,227,1) 78%, rgba(217,217,217,1) 88%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 52%, rgba(227,227,227,1) 78%, rgba(217,217,217,1) 88%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 52%, rgba(227,227,227,1) 78%, rgba(217,217,217,1) 88%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(252,252,252,1) 52%, rgba(227,227,227,1) 78%, rgba(217,217,217,1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#d9d9d9', GradientType=0 );
}
.Arrows{
    width: 5%;
    color: #22B89F;
    font-size: 75px;
    display: flex;
    align-items: center;
}
.Arrows span:hover{
    cursor: pointer;
    color: black;
}
.hedder-main{
    display: flex;
}
.hedder-left{
    width: 40%;
    height:505px;
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
    background-size: 140%;
    background-position-x: -95px;
    background-position-y: 70px;
}
.hedder-right{
    width: 50%;
    height:505px;
    padding: 133px 10px 10px 10px;
}
.hedder-right h1{
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 30px;

}
.hedder-right span:nth-of-type(n){
    color: #00C3A0;
    font-weight: 800;
}
.hedder-right p{
    text-indent: 10px;
    line-height: 1.6;
    text-align: center;
    font-size: 14px;
    margin-right: 85px;
    margin-left: 0;
    margin-bottom: 28px;
}
.hedder-right button{
    display: block;
    background-color:#22B89F;
    width: 265px;
    height: 52px;
    margin: 0 80px;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
}
.hedder-right button:hover{
    cursor: pointer;
    color: black;
}

/*SECTION 1 MAINCONTAINER////////////////////////*/
.section-One{
    height: 350px;
    padding-top: 25px;
    display: flex;

}
.left-photo{
    display: flex;
    align-items: flex-end;
    width: 32.8%;
    height: 225px;
    margin-right: 15px;
    background-image: url("../images/box1_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.left-photo:hover{
    opacity: 0.5;
    cursor: pointer;
}

.middle-photo{
    display: flex;
    align-items: flex-end;
    width: 32.8%;
    height: 225px;
    margin: 0 15px;
    background-image: url("../images/box2_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.middle-photo .photo-inside p{
    text-indent: 0;
}
.middle-photo:hover{
    opacity: 0.5;
    cursor: pointer;
}
.right-box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 253px;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 2px;
    margin-right: 6px;
    margin-left: 15px;
}
.right-box p:nth-of-type(1){
    margin-top: 10px;
    font-weight: 600;
}
.right-box p:nth-of-type(2){
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.6;
}
.right-box p:nth-of-type(3){
    font-size: 14px;
    margin-top: 11px;
    line-height: 1.6;
}
.right-box .photo-strip{
    width: 130px;
}

.photo-inside{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 60px;
    background: rgba(255,255,255, 0.4);
    margin-bottom: 13px;
    padding-left: 8px;
    padding-top: 13px;
    color: #000;
}
.photo-inside p{
    font-weight: 600;
    text-indent: 7px;
}
.photo-inside span{
    text-transform: uppercase;
}

.photo-strip{
    display: block;
    background-color: #22B89F;
    width: 138px;
    height: 7px;
    padding: 0;
    margin: 0;
}
/*////////////////////////////SECTION 2////////////////////////*/
.section-Two{
    width: 100%;
    height: 725px;
    background-color: #F1F1F1;
}
.price{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 40px;
    font-size: 20px;
}
.price p{
    text-transform: uppercase;
}
.price .photo-strip{
    margin-top: 9px;
    width: 315px;
}
.section-Two-main{
    display: flex;
}
/*////////////////////BOX 1////////////////*/
.section-Two-BOX-ONE{
    display: flex;
    flex-direction: column;
    width: 31%;
    height: 500px;
    border: 2px solid #C2C2C2;
    background-color: #fff;
    margin-top: 58px;
    margin-right: 17px;
}
.button-Box-One{
    font-weight: 700;
    background-color: #22B89F;
    color: #fff
}
.st-box-title-Box1{
    color: #22B89F;
}
/*   ///////////////////////BOX 2////////////////////*/
.section-Two-BOX-TWO{
    display: flex;
    width: 31%;
    flex-direction: column;
    height: 500px;
    border: 2px solid #22B89F;
    background-color: #22B89F;
    margin-top: 58px;
    margin-left: 16px;
    margin-right: 16px;
}
.button-Box-Two{
    font-weight: 700;
    background-color: #fff;
    color: #00D9B7
}
#circle-Box-Two{
    background-color: #fff;
    color: #00D9B7;
    border: 2px solid #22B89F;
}
.st-box-title-Box2{
    color: #fff;
}
.section-Two-BOX-TWO .st-box-list li:nth-of-type(1){
    background-color: #fff;
}
.section-Two-BOX-TWO .st-box-list li:nth-of-type(2){
    background-color: #ebeaea;
}
.section-Two-BOX-TWO .st-box-list li:nth-of-type(3){
    background-color: #fff;
}


.section-Two-BOX-TWO .outside-circle{
    border: 2px solid #22B89F;
    background-color: #22B89F;
}
.section-Two-BOX-TWO .inside-circle{
    background-color: #F1F1F1;
}
/*////////////////////////BOX 3 ////////////////////////*/
.section-Two-BOX-THREE{
    display: flex;
    width: 31%;
    height: 500px;
    flex-direction: column;
    border: 2px solid #C2C2C2;
    background-color: #fff;
    margin-top: 58px;
    margin-left: 17px;
    margin-right: 0;
}
.button-Box-Three{
    background-color: #22B89F;
    color: #fff;
    font-weight: 700;
}
.st-box-title-Box3{
    color: #22B89F;
}
.section-Two-BOX-THREE .st-box-contetn-citcle p:nth-of-type(1){
    font-size: 45px;
    font-weight:600;
    margin: 22px 1px 1px -4px;

}
.section-Two-BOX-THREE .st-box-list li:nth-of-type(1){
    background-color: #cfcece;
}
.section-Two-BOX-THREE .st-box-list li:nth-of-type(2){
    background-color: #ebeaea;
}
.section-Two-BOX-THREE .st-box-list li:nth-of-type(3){
    background-color: #cfcece;
}
.section-Two-BOX-THREE .st-box-list li:nth-of-type(4){
    background-color: #ebeaea;
}


.circle-setup{
    width: 100%;
    position: relative;
    height: 0;
}
.outside-circle{
    position: relative;
    top: -39px;
    left: calc(50% - 29px);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 2px solid #C2C2C2;
    background-color: #fff; 
}
.inside-circle{
    position: relative;
    top: 13px;
    left: 13px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #C2C2C2;
}
.st-box-title{
    width: 100%;
    margin-top: 2px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}
.st-box-contetn{
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}
.st-box-contetn-citcle{
    width: 130px;
    height: 130px;
    border: 2px solid #C2C2C2;
    border-radius: 50%;
    margin-right: 3px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #C2C2C2  ;
    padding: 0;
}
.st-box-contetn-citcle p:nth-of-type(1){
    font-size: 45px;
    font-weight:600;
    margin: 22px 1px 1px 10px;

}
.st-box-contetn-citcle p:nth-of-type(2){
    font-size: 17px;
    font-weight:600;
    margin: 1px 1px 10px 1px;
}
.st-box-contetn-citcle p:nth-of-type(3){
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 17px;
    font-weight:600;
    margin: 1px 1px 29px 1px;
    text-transform: uppercase;
}
.st-box-list{
    width: 100%;
    height: 190px;
    list-style-type: none;
}
.st-box-list li{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    display: block;
    letter-spacing: 2px;
    width: 100%;
    height: 45px;
    color: #929292;
}
.st-box-list li:nth-of-type(1){
    background-color: #cfcece;
}
.st-box-list li:nth-of-type(2){
    background-color: #ebeaea;
}

.st-box-button{
    font-size: 17px;
    text-transform: uppercase;
    margin: 10px 10px 10px 10px;
    align-self: center;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    text-align: center;
}
/*//////////////////SECTION3////////////////////////////
//////////////////////////////////////////////////////
////////////////////////////////////////////////////*/
.section-three{
    background: #fff;
    border: 1px solid red;
    height: 490px;
}
.contact{
    margin: 30px auto;
    color: #000;
    font-size: 21px;
    text-transform: uppercase;
    padding-left: 3px
}
.contact .photo-strip{
    margin-top: 6px;
    width: 318px;
}
/*///////////////////////FORM///////////////////////////////////////
/////////////////////////FORM ////////////////////////////////////*/
.section-tree-form{
    display: flex;
    height: 400px;
}
.section-tree-input{
    width: 60%;
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
}
.section-tree-text{
    font-size: 30px;
    height: 65px;
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #22B89F; 
}
.section-tree-email{
    font-size: 30px;
    height: 65px;
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    border: 1px solid #22B89F;
}
.section-tree-textArea{
    font-size: 30px;
    height: 200px;
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    border: 1px solid #22B89F;
    resize: none;
}
/*/////////////////////////////////////////////////
////////////////////////////////////////////////////
///////////////////////////////////////////////////
/////////////////////////////////////////////////*/

.section-tree-rightside{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    border: 3px solid gold;
}
/*.section-tree-rightside-redChair{
    width: 100%;
    height: 50%;
    background-color: rgb(26, 43, 19)
}
.section-tree-rightside-checkbox{
    width: 100%;
    height: 25%;
    background-color: rgb(19, 34, 43)
}
.section-tree-rightside-submit{
    width: 100%;
    height: 25%;
    background-color: rgb(58, 77, 61)
}

*/

